.contacts {
    justify-content: right;
}

li{
    list-style-type: none;
}

ul{
    margin-left: 0;
    padding-left: 0;
}

a{
    color: black;
    text-decoration: none;
    transition: all 0.9s ease;
}

.info{
    font-size: 12px;
}

a:hover{
    color: blue;
}