:root{
    --primary-color: blue;
    --secondary-color: white;
    --base-font-size: clamp(14px, 2vw, 18px);
}

*{
    font-family: Arial, Helvetica, sans-serif;
    --base-font-size: clamp(14px, 2vw, 18px);
}